.toolbar.twelve.columns.primary-color
        h1.eight.columns.fit.white-text UrTracker
        p.two.columns.white-text {{user.email}}
        a.two.columns.white-text((click)="logout()") Cerrar sesión