
<div class="background">
  <div class="container four columns offset-by-four">
    <div class="row">
      <h1>UrTracker</h1>
    </div>
    <alert> </alert>
    <form (ngSubmit)="f.form.valid &amp;&amp; login()" #f="ngForm">
      <div class="row">
        <div>
          <label for="emailInput">Email or username</label>
          <input class="u-full-width" id="emailInput" type="text" name="email" [(ngModel)]="model.email" #email="ngModel" required="required"/>
          <div class="alert-danger" *ngIf="email.errors &amp;&amp; f.submitted">
            <p [hidden]="!email.errors.required">The email is required</p>
          </div>
        </div>
      </div><br/>
      <div class="row">
        <div>
          <label for="passwordInput">Password</label>
          <input class="u-full-width" id="passwordInput" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required="required"/>
          <div class="alert-danger" *ngIf="password.errors &amp;&amp; f.submitted">
            <p [hidden]="!password.errors.required &amp;&amp; !onSubmit">The password is required</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div>
          <input class="primary-color white-text u-full-width" [disabled]="loading" type="submit" value="Submit"/>
        </div>
      </div>
      <div class="row"><a class="fit-width primary-color-text center" routerLink="/register">Register now</a></div>
    </form>
  </div>
</div>