div(flex)
    md-toolbar.md-hue-2
        div.md-toolbar-tools
            h2(flex md-truncate)
                a(href="/") Stack

    md-sidenav.md-sidenav-left(md-component-id='left' style="min-height:100%" md-is-locked-open='$mdMedia("gt-md")' md-whiteframe="4")
        div
            md-list(flex)
                md-list-item.md-1-line(ng-click="location.href='/'")
                    div.md-list-item-text(layout="column")
                        h3 New file
                md-list-item.md-1-line(ng-click="location.href='/preview'" md-nav-click="goto('prev')" name="prev")
                    div.md-list-item-text(layout="column")
                        h3 Preview
                md-list-item.md-1-line(ng-click="location.href='/highlights'")
                    div.md-list-item-text(layout="column")
                        h3 Highlights
    router-outlet
