div.background
  div.container.four.columns.offset-by-four
    .row
      h1 UrTracker
    alert  
    div Confirma tu cuenta antes de continuar. 
        | Revisa tu email, si el email no te llegó, da click en el siguiente enlace.

        
