/* You can add global styles to this file, and also import other style files */

@import 'https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css';

html {
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

body {
  height:100%;
  margin:0px;
}

a {
  cursor: pointer;
}

div.background {
    height: 100%;
}

div.container {
  background-color: white;
  top:100px;
}

.fit {
  height: 100%;
}

.fit-width {
  width: 100%;
  display: inline;
}

.center {
  text-align: center;
}
/**
Alerts
**/
.alert-danger > p{
  color: red;
}

.alert-success {
    color: #13CE66;
}

.alert-danger {
    color: red;
}


/**
Components
**/
.toolbar {
  height: 70px;
  padding:5px;
}

.sidebar {
  height:100%;
  position: fixed;
  overflow-y: auto;
  top:70px;
}

.content {
  height:100%;
  position: fixed;
  overflow-y: auto;
  top:70px;
}

.list-container {
  margin: 0px;
  padding:0px;
}

.hoverable:hover {
  background:  #e9e9e9;
}

a:hover{
  color: #FF8623;
}

.item-list {
  height:80px;
  list-style: none;
  cursor: pointer;
  box-sizing: border-box;
  padding:30px;
}

.sidebar {
  margin: 0px;
}

/**
Colors
**/
.primary-color {
  background-color: #13CE66 !important;
}

.accent-color {
  background: #FF8623;
}

.lighter-grey {
  background: #f9f9f9;
}

.darker-grey {
  background: #e9e9e9;
}

.primary-color-text {
  color: #13CE66;
}

.accent-color-text {
  color: #FF8623
}

.white-text {
  color: white !important;
}
