/* You can add global styles to this file, and also import other style files */

@import 'https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css';

html {
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

body {
  height:100%;
}

div.background {
    height: 100%;
}

div.container {
  background-color: white;
  top:100px;
}

.alert-danger > p{
  color: red;
}

.alert-success {
    color: green;
}

.alert-danger {
    color: red;
}
