div.background
    ur-navbar([user]="user")
    .three.columns.sidebar.lighter-grey
        ul
            li.item-list.hoverable(*ngFor="let item of user.travels") 
                | {{item.start_time | amFromUnix | amDateFormat:'DD/MM/YYYY'}}
    .eleven.columns.offset-by-two.content.accent-color
        sebm-google-map([latitude]="0", [longitude]="0", style="height:100%")
            sebm-google-map-marker([latitude]="0" [longitude]="0" )
