
<div class="background">
  <ur-navbar [user]="user"></ur-navbar>
  <div class="three columns sidebar lighter-grey">
    <ul>
      <li class="item-list hoverable" *ngFor="let item of user.travels">
         {{item.start_time | amFromUnix | amDateFormat:'DD/MM/YYYY'}}</li>
    </ul>
  </div>
  <div class="eleven columns offset-by-two content accent-color">
    <sebm-google-map [latitude]="0" [longitude]="0" style="height:100%;">
      <sebm-google-map-marker [latitude]="0"></sebm-google-map-marker>
    </sebm-google-map>
  </div>
</div>