div.background
  div.container.four.columns.offset-by-four
    .row
      h1 UrTracker
    alert  
    form((ngSubmit)="f.form.valid && login()", #f="ngForm")
      .row
        div
          label(for='emailInput') Email or username
          input#emailInput.u-full-width(type="text",
            name="email", [(ngModel)]="model.email" #email="ngModel" required)
          div.alert-danger(*ngIf="email.errors && f.submitted")
            p([hidden]="!email.errors.required") The email is required
      br
      .row
        div
          label(for='passwordInput') Password
          input#passwordInput.u-full-width(type='password', name='password',
            [(ngModel)]="model.password", #password="ngModel" required)
          div.alert-danger(*ngIf="password.errors && f.submitted")
            p([hidden]="!password.errors.required && !onSubmit") The password is required

      .row
        div
          input.primary-color.white-text.u-full-width([disabled]="loading" type='submit', value='Submit')

      .row
        a.fit-width.primary-color-text.center(routerLink="/register") Regístrate ahora
