div.background
  div.container.four.columns.offset-by-four
    .row
      h1 UrTracker
      p Create your account. Keep track of your steps.
    alert  
    form((ngSubmit)="f.form.valid && register()", #f="ngForm")
      .row
        div
          label(for='emailInput') Email
          input#emailInput.u-full-width(type="text",
            name="email", [(ngModel)]="user.email" #email="ngModel" required)
          div.alert-danger(*ngIf="email.errors && f.submitted")
            p([hidden]="!email.errors.required") The email is required
      .row
        div
          label(for='passwordInput') Password
          input#passwordInput.u-full-width(type='password', name='password',
            [(ngModel)]="user.password", #password="ngModel" required)
          div.alert-danger(*ngIf="password.errors && f.submitted")
            p([hidden]="!password.errors.required && !onSubmit") The password is required
      .row
        div
          label(for='confirmPasswordInput') Confirm password
          input#confirmPasswordInput.u-full-width(type='password', name='confirm-password',
            [(ngModel)]="user.password_confirmation", #confirmPassword="ngModel" required)
          div.alert-danger(*ngIf="confirmPassword.errors && f.submitted")
            p([hidden]="!confirmPassword.errors.required && !onSubmit") This field is required.
      .row
        div
          label(for='nameInput') Name
          input#nameInput.u-full-width(type='text', name='name',
            [(ngModel)]="user.name", #name="ngModel" required)
          div.alert-danger(*ngIf="name.errors && f.submitted")
            p([hidden]="!name.errors.required && !onSubmit") This field is required.
      .row
        div
          input.primary-color.white-text.u-full-width([disabled]="loading" type='submit', value='Submit')

      .row
        a.fit-width.primary-color-text.center(routerLink="/login") Already have an account?
